.header {
  width: 100%;
  padding: 2%;
  background-color: burlywood;
  color: white;
  text-align: center;
}

.display-board {
  padding: 5%;
  justify-content: center;
  align-items: center;
}

.mrgnbtm {
  margin-top: 20px;
}
