* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-image: linear-gradient(to bottom right, rgb(221, 221, 221), white);
  background-repeat: no-repeat;
  height: 100vh;
}

.main-body,
.display-board {
  text-align: center;
}

.btn {
  padding: 10px 100px;
  border-radius: 15px;
  font-size: large;
  transition: 0.3s;
}

input {
  margin: 10px;
  padding: 5px 50px;
  text-align: center;
  border-radius: 15px;
}

.btn:hover {
  background-color: black;
  color: white;
  transition: 0.3s;
}
